<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awsworkbench -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchModelWizardID"
            name="%_UI_AwsworkbenchModelWizard_label"
            class="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AwsworkbenchModelFile.gif">
         <description>%_UI_AwsworkbenchModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awsworkbench -->
      <editor
            id="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchEditorID"
            name="%_UI_AwsworkbenchEditor_label"
            icon="icons/full/obj16/AwsworkbenchModelFile.gif"
            extensions="awsworkbench"
            class="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchEditor"
            contributorClass="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awsworkbench -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ec2.presentation.Ec2ModelWizardID"
            name="%_UI_Ec2ModelWizard_label"
            class="ec2.presentation.Ec2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ec2ModelFile.gif">
         <description>%_UI_Ec2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awsworkbench -->
      <editor
            id="ec2.presentation.Ec2EditorID"
            name="%_UI_Ec2Editor_label"
            icon="icons/full/obj16/Ec2ModelFile.gif"
            extensions="ec2"
            class="ec2.presentation.Ec2Editor"
            contributorClass="ec2.presentation.Ec2ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awsworkbench -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="apigateway.presentation.ApigatewayModelWizardID"
            name="%_UI_ApigatewayModelWizard_label"
            class="apigateway.presentation.ApigatewayModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ApigatewayModelFile.gif">
         <description>%_UI_ApigatewayModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awsworkbench -->
      <editor
            id="apigateway.presentation.ApigatewayEditorID"
            name="%_UI_ApigatewayEditor_label"
            icon="icons/full/obj16/ApigatewayModelFile.gif"
            extensions="apigateway"
            class="apigateway.presentation.ApigatewayEditor"
            contributorClass="apigateway.presentation.ApigatewayActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awsworkbench -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="certificatemanager.presentation.CertificatemanagerModelWizardID"
            name="%_UI_CertificatemanagerModelWizard_label"
            class="certificatemanager.presentation.CertificatemanagerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CertificatemanagerModelFile.gif">
         <description>%_UI_CertificatemanagerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awsworkbench -->
      <editor
            id="certificatemanager.presentation.CertificatemanagerEditorID"
            name="%_UI_CertificatemanagerEditor_label"
            icon="icons/full/obj16/CertificatemanagerModelFile.gif"
            extensions="certificatemanager"
            class="certificatemanager.presentation.CertificatemanagerEditor"
            contributorClass="certificatemanager.presentation.CertificatemanagerActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awsworkbench -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iam.presentation.IamModelWizardID"
            name="%_UI_IamModelWizard_label"
            class="iam.presentation.IamModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IamModelFile.gif">
         <description>%_UI_IamModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awsworkbench -->
      <editor
            id="iam.presentation.IamEditorID"
            name="%_UI_IamEditor_label"
            icon="icons/full/obj16/IamModelFile.gif"
            extensions="iam"
            class="iam.presentation.IamEditor"
            contributorClass="iam.presentation.IamActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awsworkbench -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="core.presentation.CoreModelWizardID"
            name="%_UI_CoreModelWizard_label"
            class="core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoreModelFile.gif">
         <description>%_UI_CoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awsworkbench -->
      <editor
            id="core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="core.presentation.CoreEditor"
            contributorClass="core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awsworkbench -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dynamodb.presentation.DynamodbModelWizardID"
            name="%_UI_DynamodbModelWizard_label"
            class="dynamodb.presentation.DynamodbModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DynamodbModelFile.gif">
         <description>%_UI_DynamodbModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awsworkbench -->
      <editor
            id="dynamodb.presentation.DynamodbEditorID"
            name="%_UI_DynamodbEditor_label"
            icon="icons/full/obj16/DynamodbModelFile.gif"
            extensions="dynamodb"
            class="dynamodb.presentation.DynamodbEditor"
            contributorClass="dynamodb.presentation.DynamodbActionBarContributor">
      </editor>
   </extension>
</plugin>
