<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awsworkbench -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchModelWizardID"
            name="%_UI_AwsworkbenchModelWizard_label"
            class="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AwsworkbenchModelFile.gif">
         <description>%_UI_AwsworkbenchModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awsworkbench -->
      <editor
            id="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchEditorID"
            name="%_UI_AwsworkbenchEditor_label"
            icon="icons/full/obj16/AwsworkbenchModelFile.gif"
            extensions="awsworkbench"
            class="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchEditor"
            contributorClass="com.amazon.aws.workbench.model.awsworkbench.presentation.AwsworkbenchActionBarContributor">
      </editor>
   </extension>

</plugin>
